@charset "utf-8";


/*헤더*/
    
#header{
    height: 80px;
    line-height: 80px;
    font-size: 14px;
}
#header h1{
    margin-top: 20px;
    float: left;
    margin-right: 90px;
}
.fixed{
    position: fixed; 
    top:0;
    background: #fff;
    width: 100%;
    z-index: 200;
}
.gnb li{
    font-size: 18px;
    float: left;
    padding: 0 25px;
    width: 100
}
.gnb li a{position: relative;}

.hWrap{position: relative;}

.util{
    position: absolute;
    right: 0;
    font-size: 14px;
}
.util li{float: left;}

.util li::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #bbb;
    margin: 0 15px;
}
.util li:last-child::after{display: none;}
.util li a{color: #bbb;}


/*gnb,util호버*/

.gnb li a::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    background: #FFAD4D;
    transform: scale(0,1);
    transition: transform 0.8s;
    position: absolute;
    top: -6px;
    z-index: -9000;
}
.gnb li:hover a::after{transform:scale(1.5,1);}
.util li:hover a{color: #333;}



/*푸터*/

#footer{
    padding: 90px 0;
    position: relative;
    background: #f9f9f9;
    color: #939393;
}

.fWrap{position: relative;}
#footer h3{
    display: inline-block;
    padding-right: 90px;6
    vertical-align: middle;
}
#footer h3 a{}
#footer h3 img{}

.fTxt{
    vertical-align: middle;
    display: inline-block;
    line-height: 25px;
}

.copy{padding-top: 20px;}

.fSns{
    position: absolute;
    top: 45px;
    right: 0;
}

.fSnsList li{
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.linkey{
    position: absolute;
    top: -160px;
    left: 50%;
    margin-left: -827px;
    z-index: -10000;
}







































