@charset "utf-8";

/*웹뷰 안보임 처리*/
.mBtn, .mTxt, .panel, .mGnb{display: none;}


/*모바일뷰*/
@media screen and (max-width:768px){
    /*리셋*/
    body{min-width:auto;}
    .inner{width:auto;}
    
    /*안보임 처리*/
    .gnb, .util, .linkey, .fSns, .sellingSlide69Img, .sellingSlide69List, .deliveryList, .pencilIcon, .plusIcon, .pencilIcon02{display: none;}
    
    
    
    
    /*보임 처리*/
    
    
    /*햄버거메뉴*/
    .mGnb{
        display: block;
        z-index: 100000;
        position: fixed;
        height: 100%;
        top: 0;
        right: 0;
        border: 0;
        left: 0;
        background: #373737;
        transform: translateX(100%);
        transition: transform 0.3s;
    }
    .mGnb h1{
        margin-right: 0; 
        margin-top: 25px;
        margin-left: 25px;
    }
    .mGnb h1 img{width: 100px;}
    .mGnbActive {transform: translateX(0%)}
    .mGnbWrap{
        text-align: center;
        padding-top: 140px;
        font-size: 28px;
        font-weight: 900;
    }
    .mGnbWrap li{padding-bottom: 20px;}
    .mGnbWrap li a{color: #f3f3f3;}
    
    .closeIcon{
        position: absolute;
        top: 22px;
        right: 25px;
        display: block;
    }
    .closeIcon img{width: 30px;}
    
    .mSns{
        margin-top: 100px;
        display: block;
    }
    .mSnsList{
        text-align: center;
        width: 100%;
    }
    .mSnsList li{
        padding: 0 15px;
        display: inline-block;
    }
    .mSnsList li img{padding-top: 30px;}
    .mSns::before{
        content: "";
        display: block;
        width: 80%;
        height: 1px;
        background: #fff;
        margin: 0 auto;
    }
    
    
    
    
    /*헤더*/
    #header{width: 100%;}
    #header h1{
        margin-right: 0; 
        margin-top: 25px;
        margin-left: 25px;
    }
    #header h1 img{width: 100px;}
    .panel{display: block;}
    .panel{
        position: absolute;
        top: 25px;
        right: 25px;
        display: block;
    }
    .panel img{width: 30px;}
    
    
    
    
    /*섹션01*/
    
    .sec01{
        padding-top: 10px;
        text-align: center;
        padding: 0;
    }
    .sec01 h2{
        font-size: 20px;
        font-weight: 200;
        padding-bottom: 2%;
    }
    .sec01 p{
        font-size: 14px;
        padding-bottom: 5%;
    }

    .sec01Btn{
        text-align: center;
        width: 100%;
    }
    .sec01Btn p{
        margin-top: 5px;
        font-size: 14px;
        box-sizing: border-box;
    }

    .sellingBtn, .serviceBtn, .deliveryBtn{
        width: 80px;
        height: 30px;
        border: solid 1px;
        background: #fff;
        margin: 0 1%;
        display: inline-block;
    }
    
    
    
    
    /*섹션02*/
    
    .sec02{padding-top: 20px}
    .sec02::after{display: none;}
    .sec02Menu{
        width: 100%;
        text-align: center;
        position: static;
    }
    
    .activeSubMenuList{display: inline-block;}
    
    .sellingMenuList>li::after{
        content: "";
        display: inline-block;
        height: 11px;
        width: 1px;
        background: #ddd;
    }
    .sellingMenuList>li:last-child::after{display: none;}
    
    .serviceMenuList>li::after{
        content: "";
        display: inline-block;
        height: 11px;
        width: 1px;
        background: #ddd;
    }
    .serviceMenuList>li:last-child::after{display: none;}
    
    .deliveryMenuList>li::after{
        content: "";
        display: inline-block;
        height: 11px;
        width: 1px;
        background: #ddd;
    }
    .deliveryMenuList>li:last-child::after{display: none;}
    
    .sellingMenuList>li>a, .serviceMenuList>li>a, .deliveryMenuList>li>a{
        padding: 0 10px;
        font-size: 14px;
    }
    
    .lnb{
        font-size: 14px;
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -160px;
    }
    .lnb li{
        padding: 0 10px;
        float: left;
        text-align: center;
    }
    .lnb li:hover a{font-weight: normal;}
    .lnb{display: none;}
    .lnbActive{display: block; width: auto;}
    
    
    
    
    /*섹션03*/
    
    .sec03{
        position: static;
        text-align: center;
        padding-top: 0;
        height: auto;
    }
    .mSellingTxt24{display: block;}
    .mServiceTxt24{display: block;}
 
    /*--------------공통--------------*/
    
    
        .slideList>img{
            margin: 0 auto;
            margin-top: 15%;
            margin-bottom: 5%;
            width: 60%;
        }
        .slideList h2{
            font-size: 18px;
            font-weight: 700;
            padding-top: 10px;
            padding-bottom: 5px;
        }
        .slideList p{
            font-size: 14px;
            line-height: 26px;
        }
        .sec03SlideTxt{position: static;}

        .pencilIcon, .plusBtn{width: 35px;}
        .pencilIcon02{width: 20px;}
    

    /*--------------공통--------------*/

    
    .sec03SlideTxt01 h2 span{display: inline-block;}
    
    .lastP{
        font-size: 16px;
        padding-top: 8px;
        font-weight: 600;
    }
    
    .sellingList13 h2{padding-bottom: 10px;}
    .sellingList13 h4{
        font-size: 16px;
        padding-top: 15px;
    }
    .sellingTxt23 span{font-size: 14px;}
    
    
    
    
    
    /*푸터*/
    #footer{
        font-size: 14px;
        padding: 5% 0;
        text-align: center;
        width: 100%;
        height: auto;
    }
    #footer h3{
        width: 100%;
        padding-right: 0;
        padding-bottom: 5%;
    }
    #footer h3 img{
        width: 90px;
        display: inline-block;
    }
    .fTxt span{display: block;}
    .copy{padding-top: 10px;}
    

    
}


















